.index {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 30px;
    color: #333;
}
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    margin: 20px;
    border: 1px solid #d9d9d9;
}